#  #  #  #  #  #  #  #  #  #  #  #  #
#        C  I G N O R E S           #
#  #  #  #  #  #  #  #  #  #  #  #  #

*.o
*.a
cub3D
preguntas.md
cub3D_leaks_maps_tester
cub3D_tester
invalid_maps
.DS_Store
